.dashboard{
    margin: auto;
}

.column{
  display: inline-block;
  text-align: center;
  background: #E6E6E6;
  width: 30%;
  min-width: 500px;
  margin: 50px 15px;
  min-height: 300px;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px black;
  vertical-align: top;
}

.columnHeader {
  margin: auto;
  font-size: 20px;
  width: 300px;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-color: #db6a53;
  border-bottom-width: 5px;
  text-transform: uppercase;
  background-color: #FFF;
}

.card{
  width: 375px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-style: solid;
  border: rgba(224, 233, 104, 0.904) !important;
  padding-bottom: 0.001%;
}